@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #C5E4E7;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #5E7A7D;
}

header {
  text-align: center;
  margin: 50px 0 41px;
}

main {
  background-color: #FFFFFF;
  border-radius: 25px 25px 0px 0px;
  padding: 32px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input, button {
  width: 100%;
  cursor: pointer;
}

input, button, fieldset > label {
  cursor: pointer;
}

input[type="number"] {
  background-color: #F3F9FA;
  text-align: right;
  padding: 6px 17px;
  color: #00474B;
  border: 2px solid transparent;
}

input[type="number"]:focus {
  outline: none;
  border: 2px solid #26C2AE;
}

#bill {
  background: url(../images/icon-dollar.svg) no-repeat 19px center, #F3F9FA;
}

#numberPeople {
  background: url(../images/icon-person.svg) no-repeat 19px center, #F3F9FA;
}

fieldset, label > input {
  margin-bottom: 32px;
}

label > input {
  margin-top: 6px;
}

fieldset {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (48px)[3];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(3, 48px)/repeat(2, 1fr);
  gap: 16px 16.56px;
}

input, fieldset > label {
  font-size: 24px;
  line-height: 1.5;
}

fieldset > label, .total-section {
  background-color: #00474B;
}

fieldset > label, fieldset > input::-webkit-input-placeholder {
  text-align: center;
}

fieldset > label, fieldset > input:-ms-input-placeholder {
  text-align: center;
}

fieldset > label, fieldset > input::-ms-input-placeholder {
  text-align: center;
}

fieldset > label, fieldset > input::placeholder {
  text-align: center;
}

fieldset > label {
  text-align: center;
  padding: 6px 0;
}

fieldset > label, p {
  color: #FFFFFF;
}

legend {
  margin-bottom: 16px;
}

input[name="tip"] {
  display: none;
}

button[disabled] {
  opacity: 0.35;
}

input, fieldset > label, button {
  border-radius: 5px;
}

fieldset > label:hover, button:hover:enabled {
  background-color: #9FE8DF;
  color: #00474B;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.total-section {
  border-radius: 15px;
  padding: 37px 22px 24px 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 5px;
}

p > span {
  font-size: 13px;
  line-height: 1.5;
  display: block;
  color: #7F9D9F;
}

#errorMessage {
  display: none;
  color: #E17457;
  float: right;
}

.totals {
  font-size: 32px;
  line-height: 1.5;
  color: #26C2AE;
  -ms-grid-column-align: end;
      justify-self: end;
}

button, input[name="tip"]:checked + label {
  background-color: #26C2AE;
  color: #00474B;
}

button {
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #26C2AE;
  color: #00474B;
  padding: 9px 32px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 12px;
}

@media screen and (max-width: 374px) {
  .totals {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header {
    margin: 163px 0 88px 0;
  }
  main {
    width: 920px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.2);
            box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.2);
    padding: 32px 32px 32px 48px;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .values-section {
    width: 379px;
    height: 388px;
  }
  fieldset {
    -ms-grid-rows: (48px)[2];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(2, 48px)/repeat(3, 1fr);
    gap: 16px 14px;
  }
  fieldset > input[type="number"] {
    padding: 6px 15px 6px 4px;
  }
  .total-section {
    padding: 40px;
    gap: 25px 5px;
    width: 413px;
  }
  .totals {
    font-size: 48px;
  }
  button {
    margin-top: 97px;
  }
}
/*# sourceMappingURL=main.css.map */