@import 'config';

body {
    width: 100vw;
    overflow-x: hidden;    
    background-color: map-get($colors, body-background);
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: map-get($colors, labels-color);
}

header {
    text-align: center;
    margin: 50px 0 41px;
}

main {
    background-color:  map-get($colors, white-color);
    border-radius: 25px 25px 0px 0px;
    padding: 32px;
}

/*

fieldset > label {
    background-color: map-get($colors, total-background);
    font-size: 24px;
    line-height: 36px;
}

.total-section {
    background-color: map-get($colors, total-background);
    border-radius: 15px;
}

input[name="tip"]:checked + label{
    color: red;
}*/

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input {
    width: 100%;
}

input[type="number"] {    
    background-color: map-get($colors, light-gray);
    margin-top: 6px;
    text-align: right;
    padding: 6px 17px;
    color: map-get($colors, total-background);
}

#bill {
    background: url(../images/icon-dollar.svg) no-repeat 19px center, map-get($colors, light-gray);
}

#numberPeople {
    background: url(../images/icon-person.svg) no-repeat 19px center, map-get($colors, light-gray);
}

fieldset {
    display: grid;
    grid-template: repeat(3, 48px) / repeat(2, 1fr);
    gap: 16px 16.56px;
    margin: 40px 0;
}

input, fieldset > label {
    font-size: 24px;
    line-height: 1.5;
}

fieldset > label, .total-section {
    background-color: map-get($colors, total-background);
}

fieldset > label {
    text-align: center;
    padding: 6px 0;
    color: map-get($colors, white-color);
}

input[name="tip"] {
    display: none;
}

input[name="tip"]:checked + label{
    color: red;
}

input, fieldset > label, button {
    border-radius: 5px;
}

p > span {
    font-size: 13px;
    line-height: 1.5;    
}

.totals {
    font-size: 32px;
    line-height: 1.5;    
}

button {
    font-size: 20px;
    line-height: 1.5;
}