@import 'config';

body {
    width: 100vw;
    overflow-x: hidden;    
    background-color: map-get($colors, body-background);
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: map-get($colors, labels-color);
}

header {
    text-align: center;
    margin: 50px 0 41px;
}

main {
    background-color:  map-get($colors, white-color);
    border-radius: 25px 25px 0px 0px;
    padding: 32px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input, button {
    width: 100%;
    cursor: pointer;
}

input, button, fieldset > label {
    cursor: pointer;
}

input[type="number"] {    
    background-color: map-get($colors, light-gray);    
    text-align: right;
    padding: 6px 17px;
    color: map-get($colors, total-background);
    border: 2px solid transparent;
}

input[type="number"]:focus {
    outline: none;
    border: 2px solid map-get($colors, light-green);
}

#bill {
    background: url(../images/icon-dollar.svg) no-repeat 19px center, map-get($colors, light-gray);
}

#numberPeople {
    background: url(../images/icon-person.svg) no-repeat 19px center, map-get($colors, light-gray);
}

fieldset, label > input {
    margin-bottom: 32px;
}

label > input {
    margin-top: 6px;
}

fieldset {
    display: grid;
    grid-template: repeat(3, 48px) / repeat(2, 1fr);
    gap: 16px 16.56px;
}

input, fieldset > label {
    font-size: 24px;
    line-height: 1.5;
}

fieldset > label, .total-section {
    background-color: map-get($colors, total-background);
}

fieldset > label, fieldset > input::placeholder {
    text-align: center;
}

fieldset > label {
    text-align: center;
    padding: 6px 0;
}

fieldset > label, p {
    color: map-get($colors, white-color);
}

legend {
    margin-bottom: 16px;
}

input[name="tip"] {
    display: none;
}

button[disabled] {
    opacity: 0.35;
}

input, fieldset > label, button {
    border-radius: 5px;
}

fieldset > label:hover, button:hover:enabled {
    background-color: map-get($colors, hover-green);
    color: map-get($colors, total-background);
    transition: ease all 0.3s;
}

.total-section {
    border-radius: 15px;
    padding: 37px 22px 24px 24px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-items: center;
    gap: 20px 5px;
}

p > span {
    font-size: 13px;
    line-height: 1.5;  
    display: block;
    color: map-get($colors, gray-color);  
}

#errorMessage {
    display: none;
    color: map-get($colors, error-color);
    float: right;
}

.totals {
    font-size: 32px;
    line-height: 1.5;  
    color: map-get($colors, light-green);  
    justify-self: end;    
}

button, input[name="tip"]:checked + label {
    background-color: map-get($colors, light-green);
    color: map-get($colors, total-background);
}

button {
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: map-get($colors, light-green);
    color: map-get($colors, total-background);
    padding: 9px 32px;
    grid-column-start: 1;
    grid-column-end: 3; 
    margin-top: 12px;   
}

@import 'responsive';